In [1]:
import pandas as pd
import numpy as np

In [37]:
new_data = [['0', 'FC Porto', 'Porto', 'Estadio do Dragao', '50033', '41.161621', '-8.583784'],
            ['1', 'SL Benfica ', 'Lisbon', 'Estadio da Luz', '64642', '38.752089', '-9.185006'],
            ['3', 'SC Braga', 'Braga', 'Estadio Municipal de Braga', '30286', '41.562686', '-8.429818']]

In [38]:
new = pd.DataFrame(new_data)

In [39]:
new

,0,1,2,3,4,5,6
0,0,FC Porto,Porto,Estadio do Dragao,50033,41.161621,-8.583784
1,1,SL Benfica,Lisbon,Estadio da Luz,64642,38.752089,-9.185006
2,3,SC Braga,Braga,Estadio Municipal de Braga,30286,41.562686,-8.429818

In [40]:
new_df = new.rename(columns={0: 'city_id', 1:'Team', 2:'City', 3:'Stadium', 4:'Capacity', 5:'Latt', 6:'Long'})

In [41]:
new_df2 = new_df
new_df2

,city_id,Team,City,Stadium,Capacity,Latt,Long
0,0,FC Porto,Porto,Estadio do Dragao,50033,41.161621,-8.583784
1,1,SL Benfica,Lisbon,Estadio da Luz,64642,38.752089,-9.185006
2,3,SC Braga,Braga,Estadio Municipal de Braga,30286,41.562686,-8.429818

In [ ]:
new_df2.to_csv('new_df2.csv', index=False)